<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 col-md-2"></div>
      <div class="col-sm-4 col-md-4">
        <h1>Create A New Idea</h1>
      </div>
  </div>

  <div class="row">
    <div class="col-sm-2 col-md-2"></div>
    <form>
      <div class="form-group col-sm-4 col-md-4">
        <input class="form-control" type="text" id="idea-title" placeholder="Title">
        <textarea class="form-control" rows="3" id="idea-body" placeholder="Body"></textarea>
      </div>
      <div class="col-sm-4 col-md-4">
        <input class="btn btn-default pull-right" id="create-idea" type="button" name="submit" value="Save">
      </div>
      <div class="col-sm-2"></div>
    </form>
  </div>

  <div class="row">
    <div class="col-sm-2 col-md-2"></div>
    <div class="col-sm-4 col-md-4">
      <h1>Latest Ideas</h3>
      <div id="all-ideas">
      </div>
    </div>
    <div class="col-sm-2 col-md-2"></div>
  </div>

</div>
