<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button class="navbar-toggle" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <strong><a class="navbar-brand logo" href="/">Idea Box</a></strong>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <div class="col-sm-3 col-md-3 pull-right">
      <form class="navbar-form">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Ideas..." id="search-ideas">
        </div>
      </form>
    </div>
  </div>
</nav>
